{% extends "base.html" %} {% block title %} {% load static %}
<title>Login</title>
{% endblock title %} {% block style %}
<style>
  .bg_radial_2 {
    background: rgb(22, 13, 25);
    background: linear-gradient(
      90deg,
      rgba(22, 13, 25, 1) 0%,
      rgba(135, 81, 153, 1) 30%,
      rgba(225, 135, 255, 1) 100%
    );
  }
</style>

{% endblock style %} {% block content %}
<section class="vh-100 bg_radial_2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="{% static 'images/login1.webp' %}"
                alt="welcome"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form action="" method="post">
                  {% csrf_token %} {% for field in form %} {{field.label}}
                  {{field}} {% endfor %}
                  <div class="pt-1 mb-4">
                    <button
                      type="submit"
                      class="btn bg-gold fw-bold text-black px-3"
                    >
                      Login
                    </button>
                  </div>

                  <a
                    class="small text-muted"
                    href="{% url 'Authentication:changePassword' %}"
                    >Forgot password?</a
                  >
                  <p class="mb-5 pb-lg-2" style="color: #635199">
                    Don't have an account?
                    <a
                      href="{% url 'Authentication:signup' %}"
                      style="color: #393f81"
                      >Register here</a
                    >
                  </p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
