<div *ngIf="errors.username" class="error">
  <span *ngFor="let error of errors.username">{{ error }}</span>
</div>

<div>
  <h2>Change Password</h2>
  <form (submit)="changePassword()">
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
      <div *ngIf="errors.password" class="error">
        <span *ngFor="let error of errors.password">{{ error }}</span>
      </div>
    </div>
    <button type="submit">Change Password</button>
  </form>
</div>
