{% extends "Base.html" %} {% block title %}
<title>Delete service</title>
{% endblock title %} {% block content %}
<section class="bg_radial_2_op vh-100 pt-4">
  <div class="container-sm p-2">
    <h1>Confirm Deletion</h1>
    <h4 class="text-white h4">
      Are you sure you want to delete the service "<span class="bg-danger"
        >{{ service.service_title }}</span
      >"?
    </h4>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
  <div class="row justify-content-center">
    <a href="#" onclick="history.back()" class="btn btn-light col-2 fs-6"
      ><b>Go Back</b></a
    >
  </div>
</section>
{% endblock content %}
