{% extends "base.html" %}
{% block title %}
<title>Service Feedbacks</title>
{% endblock title %}
{% block content %}
<body class="bg_radial_2">
  <section class="container">
    <div class="container">
      <h1 class="h1 text-white">Feedbacks for {{ service.service_title }}</h1>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for feedback in feedbacks %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ feedback.user_id }}</h5>
                <p class="card-text">{{ feedback.feedback_content }}</p>
                <p class="card-text"><strong>Rate:</strong>{{feedback.get_rate_display|slice:"2:" }} </p>
              </div>
            </div>
          </div>
          {% comment %} {% for r in feedback.rate %}<i class="bi bi-star-fill"></i>{%endfor%} {% endcomment %}
        {% empty %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <p class="card-text">No feedbacks available.</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row justify-content-center mt-4"> <!-- Added mt-4 class for top margin -->
        <a href="#" onclick="history.back()" class="btn btn-light col-2 fs-6">
          <b>Go Back</b>
        </a>
      </div>
    </div>
  </section>
</body>
{% endblock content %}
