{% load static %} {% include "base.html" %} {% block title %}
<title>My Services</title>{% endblock title %} {% block style %}
<style>
  .service_img {
    width: 400px;
    height: 300px;
  }

  .bg_radial_2 {
    background: rgb(22, 13, 25);
    background: linear-gradient(
      90deg,
      rgba(22, 13, 25, 1) 0%,
      rgba(135, 81, 153, 1) 50%,
      rgba(225, 135, 255, 1) 100%
    );
  }

  .text_radial_2 {
    color: rgb(22, 13, 25);
    color: linear-gradient(
      90deg,
      rgba(22, 13, 25, 1) 0%,
      rgba(135, 81, 153, 1) 50%,
      rgba(225, 135, 255, 1) 100%
    );
  }
</style>
{% endblock style %} {% block content %}
<body class="bg_radial_2">
  <section class="container">
    <div class="container-lg">
      <h1 class="h1 text-white">My Service</h1>
      <a class="btn btn-light" href="{% url '_Services:add_service' %}">
        Add Service</a
      >
      <div class="row">
        {% for service in services %}
        <div class="card m-1 col-3" style="width: 18rem">
          {%if service.images%}
          <img
            src="{{service.images.url}}"
            class="card-img-top"
            alt="No Service Photo"
          />
          {%endif%}
          <div class="card-body">
            <h5 class="card-title">{{service.service_title}}</h5>
            <p class="card-text">{{service.service_desc}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{service.service_location}}</li>
            <li class="list-group-item">{{service.freelancer.username}}</li>
            <li class="list-group-item">{{service.freelancer.email}}</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Feedbacks</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
{% endblock content %}
