{% extends "base.html" %} {% block title %}
<title>Search service</title>
{% endblock title %} {% block style %}
<style>
  .bg_radial_2 {
    background: rgb(22, 13, 25);
    background: linear-gradient(
      90deg,
      rgba(22, 13, 25, 1) 0%,
      rgba(135, 81, 153, 1) 50%,
      rgba(225, 135, 255, 1) 100%
    );
  }

  .text_radial_2 {
    color: rgb(22, 13, 25);
    color: linear-gradient(
      90deg,
      rgba(22, 13, 25, 1) 0%,
      rgba(135, 81, 153, 1) 50%,
      rgba(225, 135, 255, 1) 100%
    );
  }
</style>
{% endblock style %} {% block content %}
<body class="bg_radial_2">
  <section class="container">
    <h1 class="h1 text-white">Search for a Service</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <div class="col-1 align-self-center">
        <button type="submit" class="btn btn-light mx-0">Search</button>
      </div>
    </form>
  </section>
</body>
{% endblock content %}
