<app-navbar></app-navbar>

<div class="container mx-auto my-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl font-bold text-white">My Service</h1>

    <button (click)="addService(username)" class="btn btn-secondary">
      Add Service
    </button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div
      *ngFor="let service of services"
      class="bg-white p-4 rounded shadow-lg"
    >
      <h3 class="text-xl font-bold">{{ service.service_title }}</h3>

      <p>{{ service.service_desc }}</p>

      <p class="text-sm">
        <strong>Freelancer:</strong> {{ service.freelancer_name }}
      </p>

      <p class="text-sm">
        <strong>Location:</strong> {{ service.service_location }}
      </p>

      <p class="text-sm">
        <strong>Email:</strong> {{ service.freelancer_email }}
      </p>

      <div *ngIf="service.service_image">
        <img
          [src]="service.service_image"
          alt="{{ service.service_title }}"
          class="my-2 w-full h-48 object-cover rounded"
        />
      </div>

      <div class="flex justify-between mt-4">
        <button
          (click)="viewFeedbacks(service.service_id)"
          class="btn btn-primary"
        >
          Feedbacks
        </button>

        <button
          (click)="editService(service.service_id)"
          class="btn btn-primary"
        >
          Edit Service
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="flex justify-center mt-4">

    <button (click)="goBack()" class="btn btn-light">Go Back</button>

  </div>
 -->
</div>
