<app-navbar></app-navbar>
<div *ngIf="services">
  <h2>Search Results</h2>
  <ul>
    <li *ngFor="let service of services">
      <h3>{{ service.service_title }}</h3>
      <p><strong>Freelancer:</strong> {{ service.freelancer_name }}</p>
      <p><strong>Description:</strong> {{ service.service_desc }}</p>
      <p><strong>Type:</strong> {{ service.service_type }}</p>
      <p><strong>Location:</strong> {{ service.service_location }}</p>
      <p><strong>Date Added:</strong> {{ service.service_date }}</p>
      <div *ngIf="service.service_image">
        <img
          [src]="service.service_image"
          alt="{{ service.service_title }}"
          width="100"
          height="100"
        />
      </div>
      <div>
        <button
          (click)="viewFeedbacks(service.service_id)"
          class="btn btn-secondary m-1"
        >
          View Feedbacks
        </button>
        <button
          (click)="editService(service.service_id)"
          class="btn btn-secondary m-1"
        >
          Edit service
        </button>
      </div>
    </li>
  </ul>
</div>
