{% extends "base.html" %} {% block title %} {%load static%}
<title>Home</title>
{% endblock title %} {% block content %}
<div class="bg-image d-flex justify-content-center align-items-center" 
style="background-image: url('{% static 'images/Freelancers.png' %}'); height: 93vh;">

  <blockquote class="text-right blockquote">
    <h3 class="text-white" style="width: 300px">
      Welcome to the Freelancer Application. Our goal is to provide exemplary service by connecting you with top-tier freelancers, thus contributing to the enhancement of our nation's workforce.
      Together, we strive towards fostering a thriving freelance ecosystem
    </h3>
  </blockquote>
</div>
{% endblock content %}
