<div
  class="min-h-screen flex items-center justify-center bg-gradient-to-r from-purple-600 to-pink-500"
>
  <div class="w-full max-w-md bg-white rounded-lg overflow-hidden shadow-xl">
    <div class="p-4 space-y-4">
      <h2 class="text-2xl font-bold text-black text-center">Change Password</h2>

      <div *ngIf="errors.message" class="error text-red-500">
        <span *ngFor="let error of errors.message">{{ error }}</span>
      </div>

      <div class="card bg-base-100 bg-white py-1">
        <div *ngIf="errors.username" class="error">
          <span *ngFor="let error of errors.username">{{ error }}</span>
        </div>

        <div>
          <form (submit)="changePassword()">
            <div>
              <label
                for="username"
                class="block text-sm font-medium text-gray-700"
                >Username</label
              >
              <input
                type="text"
                id="username"
                [(ngModel)]="username"
                name="username"
                required
                class="input input-bordered w-full mt-1 bg-white text-gray-700"
              />
            </div>
            <div>
              <label
                for="password"
                class="block text-sm font-medium text-gray-700"
                >Password</label
              >
              <input
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                required
                class="input input-bordered w-full mt-1 bg-white text-gray-700"
              />
              <div *ngIf="errors.password" class="error">
                <span *ngFor="let error of errors.password">{{ error }}</span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-full">
              Change Password
            </button>
          </form>
          <div class="navigation-buttons my-1 w-full text-center">
            <button (click)="goToLogin()" class="btn btn-secondary">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
