<app-navbar></app-navbar>
<div
  class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-r from-purple-900 via-purple-700 to-purple-500"
>
  <div class="w-full max-w-4xl p-6">
    <form
      [formGroup]="searchForm"
      (ngSubmit)="onSubmit()"
      class="flex space-x-4 mb-6 p-1"
    >
      <div class="flex-grow">
        <label for="area" class="text-white">Area</label>
        <select
          formControlName="area"
          class="form-control"
          id="area"
          class="input input-bordered w-full select bg-white text-black"
        >
          <option value="" disabled selected>Select an Area</option>
          <option *ngFor="let area of areas" [value]="area.code_area">
            {{ area.area_name }}
          </option>
        </select>
      </div>
      <div class="flex-grow">
        <label for="service_type" class="text-white">Service Type</label>
        <select
          formControlName="service_type"
          class="form-control"
          id="service_type"
          class="input input-bordered w-full select bg-white text-black"
        >
          <option value="" disabled selected>Select a service type</option>
          <option *ngFor="let type of serviceTypes" [value]="type.code_type">
            {{ type.type_title }}
          </option>
        </select>
      </div>
      <div class="flex-grow">
        <button type="submit" class="btn btn-outline bg-white text-black mt-5">
          Search
        </button>
      </div>
    </form>
    <div *ngIf="services.length > 0">
      <h2 class="text-3xl text-white mb-4">Search Results</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <div
          *ngFor="let service of services"
          class="card bg-white shadow-lg rounded-lg p-4"
        >
          <div *ngIf="service.service_image" class="mb-4">
            <img
              [src]="service.service_image"
              alt="{{ service.service_title }}"
              class="w-full h-48 object-cover rounded-lg"
            />
          </div>
          <div class="card-body">
            <h3 class="text-xl font-bold">{{ service.service_title }}</h3>
            <p class="text-gray-700">{{ service.service_desc }}</p>
            <ul class="list-disc list-inside text-gray-600">
              <li><strong>Location:</strong> {{ service.service_location }}</li>
              <li>
                <strong>Freelancer:</strong> {{ service.freelancer_name }}
              </li>
              <li><strong>Email:</strong> {{ service.freelancer_email }}</li>
            </ul>
            <div class="flex space-x-2 mt-4">
              <button
                (click)="viewFeedbacks(service.service_id)"
                class="btn btn-primary"
              >
                Feedbacks
              </button>
              <!-- <button
                (click)="addFeedback(service.service_id)"
                class="btn btn-primary"
              >
                Add Feedback
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="mt-6 text-center">
      <button (click)="goBack()" class="btn btn-light">Go Back</button>
    </div> -->
  </div>
</div>
