<nav class="navbar bg-white border-b-2 border-purple-500 py-1">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/search-service" class="navbar-brand text-purple-500 text-xl">
      Freelancer
    </a>
    <div class="collapse navbar-collapse justify-end items-end" id="main-nav">
      <ul class="navbar-nav flex space-x-4">
        <li class="nav-item">
          <button
            routerLink="/profile"
            (click)="toProfile()"
            class="btn btn-ghost text-black text-lg"
          >
            {{ username }}
          </button>
        </li>
        <li class="nav-item">
          <a
            routerLink="/search-service"
            class="btn btn-ghost text-black text-lg"
          >
            Search
          </a>
        </li>
        <li class="nav-item" *ngIf="isFreelancer">
          <button
            (click)="toMyService()"
            class="btn btn-ghost text-black text-lg"
          >
            My Services
          </button>
        </li>
        <li class="nav-item">
          <button (click)="logout()" class="btn btn-ghost text-black text-lg">
            Log Out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
